<%- include('../include/_header') %>
        <!-- Begin Page Content -->
        <div class="container-fluid">

            <!-- Page Heading -->
            <h1 class="h3 mb-2 text-gray-800"><i class="fa fa-users"></i>  Manage Staff  </h1>
            <p class="mb-4">Add Staff, Delete Staff, Only the Manager have the power to manage this page</p>

            <!-- DataTales Example -->
            <div class="card shadow mb-12">
                <div class="card card-header-actions">
                    <div class="card-header">
                        <div class="row">
                            <div class="col-8"><b>List of Staff</b></div>
                            <div class="col-4">
                                <button class="btn btn-warning btn-icon-split btn-sm float-right">    
                                <span class="icon text-white-50">
                                <i class="fa fa-plus"></i>
                                </span>
                                <a href="/staff/manage_staff/add" class="text" style="color:White;text-decoration: none;">Add Staff</a>
                            </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0" style="text-align: center;">
                            <thead>
                                <tr>
                                    <th style="width: 3%;">No</th>
                                    <th>Name</th>
                                    <th>ID</th>
                                    <th>Roles</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                            <% for(var i = 0; i < data.length; i++) { %>
                                <tr>
                                    <td><%= i + 1 %></td>
                                    <td><%= data[i].name %></td>
                                    <td><%= data[i].id %></td>
                                    <td><%= data[i].role %></td>
                                    <td>
                                        <a href="/staff/manage_staff/update/<%= data[i].id %>" class="btn btn-primary btn-circle btn-sm">
                                        <span class="icon text-white">
                                            <i class="fa fa-arrow-right"></i>
                                        </span>
                                    </a>
                                    </td>
                                </tr>
                            <% } %>  
                                <!-- <tr>
                                    <td>2</td>
                                    <td>Hafiz Fadhlan</td>
                                    <td>2345678</td>
                                    <td>Employee</td>
                                    <td><button class="btn btn-primary btn-circle btn-sm" >
                                        <span class="icon text-white">
                                            <i class="fa fa-arrow-right"></i>
                                        </span>
                                    </td>
                                </tr>                                   -->
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

        </div>
        <!-- /.container-fluid -->

    </div>
    <!-- End of Main Content -->
<%- include('../include/_footer') %>