<%- include('include/_header') %>
        <!-- Begin Page Content -->
        <div class="container-fluid">

            <!-- Page Heading -->
            <h1 class="h3 mb-2 text-gray-800"><i class="fa fa-file"></i> Home</h1>
            <p class="mb-4">Aicilian Restaurant <%= title %></p>

            <% menus.forEach(function(item){%>
            <div class="row">
                <% item.forEach(function(it){%>
                <div class="col-lg-4 col-xsm-12">
                    <!-- Basic Card Example -->
                    <div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <span class="float-left"><b><%- it.name %></b></span>
                            <span class="float-right"><b>RM <%- it.price.toFixed(2) %></b></span>
                            <!-- <div class="row">
                                <div>
                                    <h6 class="m-0 font-weight-bold text-primary">Basic Card Example</h6>
                                </div>
                                <div class="float-right">
                                    <span class="float-right"><b>RM25.90</b></span>
                                </div>
                            </div> -->
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-6"> 
                                    <img src="<%- it.image %>" alt="<%- it.name %>" style="height: 100%;width: 100%;">
                                </div>
                                <div class="col-6">
                                    The styling for this basic card example is created by using default Bootstrap
                                utility classes. By using utility classes, the style of the card component can be
                                easily modified with no need for any custom CSS!
                                </div>
                            </div>
                        </div>
                        <div class="card-footer">
                            <div class="float-right">
                                <div class="row">
                                    <form method="post" action="/cart/add/<%= it._id %>">
                                        <!-- <input type="number" name="quantity" class="form-control" min="1" value="0"/> -->
                                        <input type="submit" class="btn btn-primary btn-sm" value="Add To Cart">
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <% }) %>
            </div>
            <% }) %>

        </div>
        <!-- /.container-fluid -->

    </div>
    <!-- End of Main Content -->
<%- include('include/_footer') %>