<%- include('./include/_header') %>
    <!-- Begin Page Content -->
    <div class="container-fluid">

        <!-- Page Heading -->
        <h1 class="h3 mb-2 text-gray-800"><i class="fa fa-book"></i> Order Details</h1>
        <p class="mb-4">View Order Details</p>
        <div class="row">
            <div class="col-xl-6 col-md-6 mb-4">
                <div class="card shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="h5 mb-0 font-weight-bold text-gray-800">ORDER ID: <%= orders._id %></div>
                                <div class="h5 mb-0 font-weight-bold text-gray-800">TABLE NO: <%= orders.table || '--' %></div>
                                <div class="h5 mb-0 font-weight-bold text-gray-800">ORDER TYPE:  <%= orders.type %></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-md-6 mb-4">
                <div class="card shadow h-100 py-2 <%- (orders.status).toLowerCase() %>">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center" style="text-align: center;">
                            <div class="col mr-2">
                                <div class="h1 font-weight-bold text-white"><%- (orders.status).toUpperCase() %></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-xsm-4 mb-4">
                <div class="card shadow h-100 py-2" >
                    <div class="card-body"> 
                            <div id="qrcode" style="height:100%;width:100%;text-align: center;"></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold">List of Menu</h6>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0" style="text-align: center;">
                        <thead>
                            <tr>
                                <th style="width: 3%;">No</th>
                                <th>Food</th>
                                <th>Type</th>
                                <th>Status</th>
                                <th>Price</th>
                                <th>Quantity</th>
                                <th>Total Price</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% var i=0; %>  
                            <% for(menu in orders.menus) { %>
                            <tr>
                                <td><%= i+1 %></td>
                                <% i++ %>
                                <td>
                                    <img src="<%- orders.menus[menu].menu.image %>" alt="<%- orders.menus[menu].menu.name %>" height="100px">
                                    <span><%- orders.menus[menu].menu.name %></span>
                                </td>
                                <td><%- orders.menus[menu].menu.type %></td>
                                <td class="<%- (orders.status).toString().toLowerCase() %>"><%= orders.status.toUpperCase() %></td>
                                <td>RM <%- orders.menus[menu].menu.price %></td>
                                <td><%- orders.menus[menu].qty %></td>
                                <td>RM <%- orders.menus[menu].price.toFixed(2) %></td>
                            </tr>
                            <% } %>   
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>
    <!-- /.container-fluid -->

    </div>
    <!-- End of Main Content -->
<%- include('./include/_footer') %>